body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  font-family: cursive;
}
/* Result Page styling Start */
#end{
  padding-top: 7%
}
#result{
  padding: 30px 20px;
}
@media (min-width:1500px) {
  #end{
    padding-top: 15%;
  }
  #result{
    width: 25%;
    margin: 0 auto
  }
} 
@media (max-width:1499px) {
  #end{
    padding-top: 20%;
  }
  #result{
    width: 30%;
    margin: 0 auto
  }
} 
@media (max-width:1199px) {
  #end{
    padding-top: 20%;
  }
  #result{
    width: 35%;
    margin: 0 auto
  }
} 
@media (max-width:950px) {
  #end{
    padding-top: 32%;
  }
  #result{
    width: 50%;
    margin: 0 auto
  }
} 
@media (max-width:600px) {
  #end{
    padding-top: 38%;
  }
  #result{
    width: 60%;
    margin: 0 auto
  }
} 
@media (max-width:500px) {
  #end{
    padding-top: 55%;
  }
  #result{
    width: 80%;
    margin: 0 auto
  }
} 
/* Result Page styling End */


/* Front Page styling Start */
#start{
  padding-top: 7%
}

#detail{
  padding: 30px 20px;
  /* height:50vh */
}
@media (min-width:1500px) {
  #detail{
    width: 40%;
    margin: 0 auto
  }
} 
@media (max-width:1499px) {
  #detail{
    width: 50%;
    margin: 0 auto
  }
} 
@media (max-width:1199px) {
  #start{
    padding-top: 10%;
  }
  #detail{
    width: 70%;
    margin: 0 auto
  }
} 
@media (max-width:950px) {
  #start{
    padding-top: 12%;
  }
  #detail{
    width: 70%;
    margin: 0 auto
  }
} 
@media (max-width:600px) {
  #start{
    padding-top: 15%;
  }
  #detail{
    width: 80%;
    margin: 0 auto
  }
} 
@media (max-width:400px) {
  #start{
    padding-top: 20%;
  }
  #detail{
    width: 90%;
    margin: 0 auto
  }
} 
/* Front Page styling End */




/* Main Page styling Start */
#question{
  padding-top: 7%
}

#main{
  padding: 30px 20px;
  /* height:50vh */
}
@media (min-width:1500px) {
  #main{
    width: 40%;
    margin: 0 auto
  }
} 
@media (max-width:1499px) {
  #main{
    width: 50%;
    margin: 0 auto
  }
} 
@media (max-width:1199px) {
  #question{
    padding-top: 10%;
  }
  #main{
    width: 70%;
    margin: 0 auto
  }
} 
@media (max-width:950px) {
  #question{
    padding-top: 12%;
  }
  #main{
    width: 70%;
    margin: 0 auto
  }
} 
@media (max-width:600px) {
  #question{
    padding-top: 17%;
  }
  #main{
    width: 80%;
    margin: 0 auto
  }
} 
@media (max-width:400px) {
  #question{
    padding-top: 20%;
  }
  #main{
    width: 90%;
    margin: 0 auto
  }
} 
/* Main Page styling End */

#options{
  padding: 10px 5px;
  border-radius: 10px;
}
#options:hover{
  background-color: rgb(249, 189, 189);
}
#options:active{
  background-color: rgb(225, 136, 136);
}
